In [1]:
# Específico para tratar dados tabulares (Linhas/Colunas)/(Planilha)
# Pode-se ter diferentes colunas com tipos diferentes de dados
import pandas as pd
import numpy as np

In [6]:
# Carrega arquivo para dataframe Pandas
dados = pd.read_csv("./dados/Credit.csv")
# Formato
dados.shape

(1000, 21)

In [7]:
# Resumo estatístico de colunas numéricas
dados.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [ ]:
# Primeiros registros
dados.head()
# Últimos registros, com parâmetros
dados.tail(2)

In [ ]:
# Filtrar por nome da coluna
dados[["duration"]]
# Filtrar linhas por índice
dados.loc[1:3]

In [ ]:
# Linhas 1 e 3
dados.loc[[1, 3]]

In [ ]:
# Filtro
dados.loc[dados['purpose'] == "radio/tv"]

In [ ]:
# Outra condição
dados.loc[dados['credit_amount'] > 18000]

In [ ]:
# Atribuimos resultado a variável, criando outro df (dataframe)
credito2 = dados.loc[dados['credit_amount'] > 18000]
print(credito2)

In [ ]:
# Definimos apenas algumas colunas
credito3 = dados[['checking_status', 'duration']].loc[dados['credit_amount'] > 18000]
print(credito3)

In [ ]:
# Séries, única coluna
# Pode ser criada a partir de listas, array do numpy ou coluna de dataframe
s1 = pd.Series([2,5,3,34,54,23,1,16])
print(s1)

In [ ]:
# Serie a partir de um array do numpy
array1 = np.array([2,5,3,34,54,23,1,16])
s2 = pd.Series(array1)
print(s2)

In [ ]:
# Serie a partir de um dataframe
s3 = dados['purpose']
print(s3)
type(s3)

In [ ]:
# Note a diferença, temos um dataframe
d4 = dados[['purpose']]
type(d4)

In [ ]:
# Renomear
dados.rename(columns={"duration": "duracao", "purpose": "proposito"})

In [ ]:
# Porém, a alteração não é persistida
dados.head(1)

In [ ]:
# Para persistir
dados.rename(columns={"duration": "duracao", "purpose": "proposito"}, inplace=True)
dados.head(1)

In [ ]:
# Excluir coluna
dados.drop('checking_status', axis=1, inplace=True)
print(dados)

dados.head(1)

In [ ]:
# Verificar dados nulos
dados.isnull()
# Verificar dados nulos
dados.isnull().sum()
# Retirar colunas com NaN (Not a Number)
dados.dropna()

In [ ]:
# Preencher dados faltantes
dados['duracao'].fillna(0, inplace=True)

In [ ]:
#iloc
dados.iloc[0:3, 0:5]
dados.iloc[[0,1,2,3,7], 0:5]